<?xml version="1.0"?>
<!-- 
    Initialisation Nodes
 -->
<launch>
    <arg name="launch_webserver"        default="true"/>
    <arg name="launch_data_fuser"       default="true"/>
    <arg name="launch_paramwatcher"     default="true"/>

    <arg name="load_params"             default="false"/>
    
    <arg name="rate"                    default="15.0"/>
    <arg name="anon"                    default="True"/>
    <arg name="reset"                   default="True"/>

    <arg name="namespace"               default="/vpr_nodes"/>

    <arg name="log_level"               default="2"/>
    <arg name="param_file"              default="sim_cfg.yaml"/>

    <group if="$(arg load_params)">
        <!-- Load in params; must be done outside of a namespace -->
        <rosparam command="load" file="$(find aarapsi_robot_pack)/cfg/$(arg param_file)"/> 
    </group>

    <group ns="$(arg namespace)">
        <!-- Web Server Node: -->
        <node if="$(arg launch_webserver)" pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen"/>

        <!-- Param Watcher Node: -->
        <node if="$(arg launch_paramwatcher)" pkg="aarapsi_robot_pack" type="param_watcher.py" name="param_watcher" output="screen"
                args="
                        -N param_watcher -r $(arg rate) -a $(arg anon)
                        -V $(arg log_level) -R $(arg reset) -ID 1"/>

        <!-- Data Fuser Node: -->
        <node if="$(arg launch_data_fuser)" pkg="aarapsi_robot_pack" type="data_fuser.py" name="data_fuser"  output="screen"
                args="
                        -N data_fuser -r $(arg rate) -a $(arg anon)
                        -V $(arg log_level) -R $(arg reset) -ID 2" />

    </group>

</launch>
