<?xml version="1.0"?>
<!-- 
    svm_trainer launch file
 -->
<launch>

    <arg name="load_params"             default="false"/>
    
    <arg name="rate"                    default="12.0"/>
    <arg name="anon"                    default="True"/>
    <arg name="reset"                   default="True"/>

    <arg name="namespace"               default="/vpr_nodes"/>

    <arg name="log_level"               default="2"/>
    <arg name="param_file"              default="sim_cfg.yaml"/>
    <arg name="ID"                      default="0"/>

    <group if="$(arg load_params)">
        <!-- Load in params; must be done outside of a namespace -->
        <rosparam command="load" file="$(find aarapsi_robot_pack)/cfg/$(arg param_file)"/> 
    </group>
    
    <group ns="$(arg namespace)">
        <!-- Monitor's Trainer Node: -->
        <node pkg="aarapsi_robot_pack" type="svm_trainer.py" name="svm_trainer" output="screen" 
            args="-r $(arg rate) -N svm_trainer -a $(arg anon) -n $(arg namespace) -R $(arg reset) -V $(arg log_level) -ID $(arg ID)">
        </node>
    </group>

</launch>
