<?xml version="1.0"?>
<!-- 
    svm_trainer + vpr_monitor launch file
 -->
<launch>
    <arg name="launch_monitor"          default="true"/>
    <arg name="launch_trainer"          default="true"/>

    <arg name="load_params"             default="false"/>
    
    <arg name="main_rate"               default="12.0"/>
    <arg name="anon"                    default="True"/>
    <arg name="reset"                   default="True"/>

    <arg name="namespace"               default="/vpr_nodes"/>

    <arg name="log_level"               default="2"/>
    <arg name="param_file"              default="sim_cfg.yaml"/>
    <arg name="tID"                     default="0"/>
    <arg name="mID"                     default="1"/>

    <group if="$(arg load_params)">
        <!-- Load in params; must be done outside of a namespace -->
        <rosparam command="load" file="$(find aarapsi_robot_pack)/cfg/$(arg param_file)"/> 
    </group>
    
    <group ns="$(arg namespace)">
        <!-- Monitor's Trainer Node: -->
        <node if="$(arg launch_trainer)" pkg="aarapsi_robot_pack" type="svm_trainer.py" name="svm_trainer" output="screen" 
            args="-r $(arg main_rate) -N svm_trainer -a $(arg anon) -n $(arg namespace) -R $(arg reset) -V $(arg log_level) -ID $(arg tID)">
        </node>

        <!-- Monitor Node: -->
        <node if="$(arg launch_monitor)" pkg="aarapsi_robot_pack" type="vpr_monitor.py" name="vpr_monitor" output="screen" 
            args="-r $(arg main_rate) -N vpr_monitor -a $(arg anon) -n $(arg namespace) -R $(arg reset) -V $(arg log_level) -ID $(arg mID)">
        </node>
    </group>

</launch>
